{% extends 'accounts/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'accounts/css/auth.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>{{ title }}</header>
      <form method="post">
          {% csrf_token %}
          {{ form_signup.as_p }}
          <input type="submit" class="button" name="signup" value="{{ title }}">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <label for="check"><a href="{% url 'signin' %}">Sign In</a></label>
        </span>
      </div>
    </div>
  </div>
{% endblock %}